.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto

/.quarto/
/data/data_raw/rawseq
/data/data_intermediate/seq_wo_primers
/data/data_intermediate/filterAndTrim_fwd
/data/data_intermediate/filterAndTrim_rev
/data/data_final/quality_fastqc
_targets/